body {
    background-color: #ffffff;
}

.board--create-task-container {
    margin-top: 30px;
    margin-left: 30px;
    width: 180px;
}

.button--add-task {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #32a852;
    color: #ffffff;
    font-size: 14px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, 
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    animation: fade-up-addtask 0.8s;
    transition-duration: 0.4s;
}

.button--add-task:hover {
    background-color: #196b2f;
}

@keyframes fade-up-addtask {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(1);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.button--add-icon-task {
    margin-right: 10px;
    width: 25px;
}

.board--main-container{
    display: flex;
    margin: auto;
    width: 100%;
    animation: fade-up-board-container 1s
}

.board--main-container::after {
    content: "";
    display: table;
    clear: both;
}

@keyframes fade-up-board-container {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(1);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.board--ticket-status {
    float: left;
    width: 18.65%;
    height: 550px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 11px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #e8e7e7;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition-duration: 0.4s;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #d4d4d4;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.board--ticket-status:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(50, 168, 82, 0.7) 0px 0px 0px 2px;
}

.board--ticket-status-label {
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #8d8d8d;
    border-radius: 8px 8px 0 0; 
    margin-left: 20px;
}

.board-ticket-status-count {
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    color: #32a852;
}

.board--ticket-container {
    background-color: #ffffff;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition-duration: 0.4s;
}

.board--ticket-container:hover {
    color: #ffffff;
    background-color: #32a852;
}

.board--ticket-container:active {
    color: #ffffff;
    background-color: #32a852;
}

.board--ticket-container-assignee {
    font-size: 12px;
    text-align: end;
}

.board--ticket-container-taskname {
    font-size: 14px;
    font-weight: 600;
}

.board--ticket-container-taskid {
    font-size: 12px;
    text-align: end;
    float: left;
}

.board--ticket-container-deadline {
    font-size: 13px; 
    margin-bottom: 10px;
}

.board--header-container {
    width: 100%;
}

.board--details-button {
    float: right;
    border: none;
    background: #ffffff;
    margin-left: 10px;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.board--details-button:hover {
    cursor: pointer;
}

.board--details-icon {
    width: 15px;
}

.statusList {
    list-style: none;
    height: 510px;
}



