.form--search {
    animation: fade-up-search 1s;
}

@keyframes fade-up-search{
    0% {
        opacity: 0;
        transform: translateY(30px) scale(1);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.form--addcontact-container {
    position: fixed;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ffffff;
    width: 450px;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: fade-up 0.8s;
}

.form--addcontact-input {
    margin-top: 4px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.form--addmaintenance-container {
    position: fixed;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ffffff;
    width: 450px;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: fade-up 0.8s;
}

.form--addmaintenace-input {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 4px;
    margin-bottom: 10px;
    width: 80%;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: #83de9b;
}

.form--addmaintenance-largeinput {
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 4px;
    margin-bottom: 10px;
    width: 80%;
    height: 150px;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: #83de9b;
}

.form--add-submit {
    width: 175px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #949494;
    padding: 10px;
    color: #ffffff;
    border-style: hidden;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition-duration: 0.4s;
}

.form--add-submit:hover {
    background-color: #196b2f;
}

.form--back {
    width: 175px;
    background-color: #949494;
    color: #ffffff;
    border-style: hidden;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition-duration: 0.4s;
}

.form--back:hover {
    background-color: #994040;
}

.form--editprofilepicture-container {
    position: fixed;
    top: -20%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ffffff;
    width: 450px;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: fade-up 0.8s;
}

.form--upload-profile-picture-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form--upload-profile-picture-input + label {
    border-style: none;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #32a852;
    display: block;
    padding: 10px;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 8px;
    letter-spacing: 1px;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition-duration: 0.4s;
}

.form--upload-profile-picture-input:focus + label,
.form--upload-profile-picture-input + label:hover {
    background-color: #196b2f;
}

.profile--loaded-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.profile--loaded {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    box-shadow: 
    rgba(0, 0, 0, 0.07) 0px 1px 2px, 
    rgba(0, 0, 0, 0.07) 0px 2px 4px, 
    rgba(0, 0, 0, 0.07) 0px 4px 8px, 
    rgba(0, 0, 0, 0.07) 0px 8px 16px, 
    rgba(0, 0, 0, 0.07) 0px 16px 32px, 
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.profile--upload-icon {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.form--upload-status {
    margin: auto;
    width: 200px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    color: #32a852;
    font-weight: 600;
    background-color: #d6f0dd;
    padding: 5px 3px;
    border-radius: 30px;
}

.form--addtask-container {
    position: fixed;
    top: -25%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ffffff;
    width: 450px;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: fade-up 0.8s;
}

.form--edittask-container {
    position: fixed;
    top: -34%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ffffff;
    width: 450px;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: fade-up 0.8s;
}

.form--addtask-input {
    margin-top: 4px;
    margin-bottom: 10px;
}

.form--addtask-largeinput {
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 4px;
    margin-bottom: 10px;
    width: 80%;
    height: 150px;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: #83de9b;
}

.form--addtask-select {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 4px;
    margin-bottom: 10px;
    width: 80%;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: #83de9b;
}

.form--addtask-datepicker {
    font-family: 'Poppins', sans-serif;
    margin-top: 4px;
    margin-bottom: 10px;
}

.form--addtask-submit {
    font-family: 'Poppins', sans-serif;
    width: 175px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #949494;
    padding: 10px;
    color: #ffffff;
    border-style: hidden;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form--addtask-back {
    font-family: 'Poppins', sans-serif;
    width: 175px;
    background-color: #949494;
    color: #ffffff;
    border-style: hidden;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition-duration: 0.4s;
}

.form--label {
    margin-left: 50px;
    color: #909090;
    font-size: 14px;
    text-align: left;
}

.form--task-details-container {
    position: fixed;
    top: -20%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ffffff;
    width: 70%;
    height: 550px;
    padding: 0px;
    border-radius: 5px;
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: fade-up 0.8s;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translate(-50%, 70%) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(-50%, 50%) scale(1);
    }
}

.form--task-leftside-contents {
    float: left;
    width: 65%;
    height: 430px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    overflow: hidden;
    overflow-y: scroll;
}

.form--task-rightside-contents {
    text-align: center;
    float: right;
    width: 30%;
    padding: 25px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.form--task-rightside-inner-container {
    margin: auto;
    width: 200px;
}

.form--task-details-taskid {
    font-size: 16px;
    font-weight: 600;
    float: left;
    margin-right: 30px;
    margin-top: 5px;
    color: #858585;
}

.form--task-details-name {
    font-size: 24px;
    font-weight: 600;
}

.form--task-details-description {
    font-size: 14px;
    margin-top: 20px;
    height: 50px;
}

.form--task-details-attachments-container {
    background-color: #e8e7e7;
    padding: 10px 20px;
    border-radius: 11px;
    min-height: 70px;
    margin-top: 20px;
    box-shadow: 
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, 
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.form--task-details-attachments {
    font-weight: 600;
    float: left;
}

.form-attachments-button {
    border: none;
    background: none;
    margin-left: 15px;
    cursor: pointer;
}

.form-attachment-icon {
    width: 20px;
    margin-right: 5px;
}

.form--task-details-comments-container {
    background-color: #e8e7e7;
    padding: 20px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 11px;
    min-height: 200px;
    box-shadow: 
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, 
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.form--task-details-comments {
    font-weight: 600;
    margin-left: 10px;
}

.comment-component {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 10px 30px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment-text {
    font-size: 13px;
}

.comment-commenter {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}

.comment-time {
    font-size: 11px;
    margin-top: 5px;
    float: right;
    color: #868686
}

.form--input-comment {
    width: 100%;
}

.form--comment-submit {
    display: none;
}

.form--task-details-label {
    float: left;
    font-size: 14px;
}

.form--task-details-status {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.form--task-details-assignee {
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}

.form--task-details-reporter {
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}

.form--task-details-start {
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}

.form--task-details-deadline {
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}

.form--task-edit {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
    margin-top: 200px;
    background-color: #949494;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    border-style: hidden;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form--task-edit:hover {
    background-color: #196b2f;
}

.form--task-delete {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 200px;
    background-color: #949494;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    border-style: hidden;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form--task-delete:hover {
    background-color: #994040;
}

.form--task-back {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-top: 200px;
    background-color: #949494;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    border-style: hidden;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form--task-back:hover {
    background-color: #994040;
}

.form--task-buttons {
    display: flex;
}

.form--addattachments-container {
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ffffff;
    width: 450px;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: fade-up 0.8s;
}

.attachment-component {
    background-color: #f1f1f1;
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.attachment-filename {
    font-size: 13px;
    font-weight: 600;
    color: #32a852;
    cursor: pointer;
}