.form--signup-select {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 10px;
    margin: 15px 0;
    width: 80%;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: #42bd63;
}

.form--signup-gender {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 10px;
    margin: 15px 0;
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: #42bd63;
}

.form--signup-datepicker {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 10px;
    margin: 15px 0;
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: #42bd63;
}

.form--signup-container {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ffffff;
    width: 500px;
    padding: 0px;
    border-radius: 5px;
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}